@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Criador"]</h3>
<p>Desenvolvedor: @ViewData["Criador"]</p>
<p>Use this area to provide additional information.</p>
<address>

    <strong>More information</strong> 
</address>
